@model List<CuotaInversion>

@{
    ViewData["Title"] = "TablaPrestamos";
}
<style>
    .Fondo-negro {
        background: #343a40;
    }
</style>
<body onload="LlenarTablaPrestmaos()">

<center>
    <section style="margin-top: 70px">
        <div class="card" style="max-width:70%">
            <div class="card-header "style="background-color:dodgerblue">
                <h1 class="card-title">Tabla Prestamos</h1>
            </div>
            <div class="card-body" style="overflow-y: scroll;">
                <table class="table table-hover " id="tabla">
                    <thead>
                    <tr>
                        <th>Número de prestamo</th>
                        <th>Cuenta de banco</th>
                        <th>Fecha planificada</th>
                        <th>Fecha realizada</th>
                    </tr>
                    </thead>
                    @if (Model != null)
                    {
                        <tbody>
                        @foreach (var cuota in Model)
                        {
                            <tr>
                                <td>@cuota.CodigoInversion</td>
                                <td>@cuota.CuentaBancoNumero</td>
                                <td>@cuota.FechaPlanificada</td>
                                <td>@cuota.FechaRealizada</td>
                                 <td>
                                     @using (Html.BeginForm("PagosPrestamos", "Home", FormMethod.Post))
                                       {
                                           <input type="hidden" name="cuota" value="@cuota.CodigoInversion" />
                                             <button class="btn-danger" type="submit">Ir a la vista</button>
                                       }
                                 </td>
                            </tr>

                            
                        }
                        </tbody>
                    }
                </table>

            </div>


        </div>

    </section>


</center>


</body>